<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
    If you need help, message me (Ryan Troxler) on Facebook.
    Or don't be dumb.
    <a href="http://www.facebook.com/ryan.troxler">Hit me up if you need me.</a>
</p>

